{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Bookshop</title>

	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="{% static 'js/jquery.min.js' %}"></script>


<!--script-->
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-left">
					<div class="clearfix"> </div>
				</div>
				<div class="top-header-right">
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="header-bottom-left">
					<div class="logo">
						<a href="index.html"><img src="{% static 'images/logo.png'%}" alt=" " /></a>
					</div>
                   <div class="search">

						<form type="get" action="{% url 'shop:search' %}">
                           <input type="search" id="q" name="q" placeholder="Search..."/>
                        </form>
				</div>

					<div class="clearfix"> </div>
				</div>
				<div class="header-bottom-right">
							<ul class="login">
								 {% if user.is_authenticated %}
										<li><a href="{% url 'shop:logout' %}"><span> </span>Привет, {{ user.username  }}!(выйти)</a> |</li>
									{% else %}
										<li><a href="{% url 'shop:login' %}"><span> </span>Войти</a>|</li>
								{% endif %}
								<li ><a href="{% url 'shop:register'%}"><span> </span>РЕГИСТРАЦИЯ</a></li>
							</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!---->
	<!-- start content -->
	<div class="container">

	<div class="women-product">
		<div class=" w_content">

		</div>
		<!-- grids_of_4 -->

		{% block content %}{% endblock %}

	</div>

						<!--initiate accordion-->



	<div class="clearfix"> </div>
</div>
	<!---->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="latter-right">
					<p></p>
					<ul class="face-in-to">
						<li><a href="#"><span> </span></a></li>
						<li><a href="#"><span class="facebook-in"> </span></a></li>
						<div class="clearfix"> </div>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-cate">
					<h6>Доставка</h6>
					<p>Доставим Ваш заказ в любой город Украины.
						Способы доставки: курьером, Нова Пошта, Автолюкс, Интайм, Укрпочта, самовывоз из офиса.
						Все заказы пакуются супернадежно и застрахованы</p>

				</div>
				<div class="footer-bottom-cate bottom-grid-cat">
					<h6> ОПЛАТА </h6>
					<p>Оплата заказа любым удобным для Вас способом</p>
				</div>
				<div class="footer-bottom-cate">
					<h6>О НАС</h6>
					<p>BOOKSHOP –  интернет-магазин который создан с целью получения практического опыта
					разработки на Django</p>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</body>
</html>